name: Protected test suite (can access cubit secrets)

on:
  schedule:
    - cron: '0 06 * * *'
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  beamme-testing-all-dependencies:
    name: ubuntu-latest with all dependencies
    runs-on: ubuntu-latest
    environment:
      # Use the trusted environment only for PRs authored by an COLLABORATOR (no approval needed); all others use the untrusted environment (someone has to approve the workflow run).
      # Otherwise (scheduled or merge triggers) use the trusted environment (no approval needed).
      name: ${{ github.event_name == 'pull_request_target' && (github.event.pull_request.author_association == 'COLLABORATOR') && 'cubit_secrets_trusted' || (github.event_name == 'pull_request_target' && 'cubit_secrets_untrusted' || 'cubit_secrets_trusted') }}
    container:
      image: ghcr.io/4c-multiphysics/4c:main
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4
        with:
          submodules: true
          # For PR runs, checkout PR code; otherwise fallback to default branch or ref
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Build ArborX geometric search
        uses: ./.github/actions/build_arborx_geometric_search
      - name: Run the test suite
        uses: ./.github/actions/run_tests
        with:
          install-command: "-e .[dev,fourc]"
          additional-pytest-flags: "--4C --ArborX --cov-fail-under=93"
      - name: Upload test results on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.job }}-${{ github.run_number }}
          path: ${{ env.PYTEST_TMPDIR }}
      - name: Coverage badge and report
        uses: ./.github/actions/coverage
